<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ginny - About Me</title>
    <link rel="stylesheet" href="/styles/about.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500;600&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header class="header">
    <a href="" class="logo middle focus">Ginny Games</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a class="middle focus" href="/works">Works</a></li>
        <li><a class="middle focus" href="/about">About</a></li>
        <li><a class="middle focus" href="/">Home</a></li>
    </ul>

</header>

<body>


    <div class="hiContainer">

        <div class="hiWords">
            <h2>Hi, I'm Ginny James and I'm a product designer in the heart of San Francisco</h2>
        </div>
        <div class="hiImg">
            <img src="./resources/Ginny G.png">
        </div>


    </div>
    <div class="bioContainer">
        <div class="bioHeader">
            <h2>I'm an end-to-end designer who loves solving challenging problems.</h2>
        </div>
        <div class="bioContent">
            <p>Previously, I was working on the core product at Box. Before diving into enterprise design, I did the
                digital-nomad thing traveling the world solo as a freelance designer. Prior to that I was a UX designer
                at Vertigo, which was acquired by MLB Media. While at UC Berkeley I studied design-thinking and the
                mind, but design and code first found its way into my life during the golden era of Neopets.</p>

            <p>I'm always trying to grow and learn something new. I lose track of time when I'm
                hand-lettering,backpacking over mountains, curled up in a good book, or eating food in new countries I
                explore.</p>
            <p>Currently, I'm not looking for new opportunities, but I am open to fun side projects. Please don't
                hesitate to reach out— I'm happy to chat about work or play!</p>
        </div>

    </div>
    <div class="quoteContainer">
        <h3><i>"There's no one better" -Ginny J<i></h3>
    </div>

    <div class="mediaContainer">
        <div class="mediaHeader">
            <h2>Favorite Books</h2>
        </div>
        <div class="books">
            <div class="book1 focus">
                <img src="https://img1.od-cdn.com/ImageType-400/4575-1/85E/A00/CF/%7B85EA00CF-F096-4068-8876-960C1075ED20%7DImg400.jpg"
                    alt="book1">
            </div>
            <div class="book2 focus">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91r6TwmjEkL.jpg" alt="book2">
            </div>
            <div class="book3 focus">
                <img src="https://images-na.ssl-images-amazon.com/images/I/51yoqP8mWEL._SX326_BO1,204,203,200_.jpg"
                    alt="book3">
            </div>
        </div>
    </div>



</body>

<footer>

    <div class="footer">
        <h4>Connect with me!</h4>
        <div class="iconsPad">
            <a href="#" class="fa fa-instagram focus"></a>
            <a href="#" class="fa fa-linkedin focus"></a>
            <a href="#" class="fa fa-twitter focus"></a>
        </div>
</footer>

</html>