<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ginny - Home</title>
  <link rel="stylesheet" href="styles/style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Lora:wght@500;600&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header class="header">
    <a href="" class="logo middle focus">Ginny Games</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li class="middle focus"><a href="/works">Resume</a></li>
      <li class="middle focus"><a href="/about">About</a></li>
      <li class="middle focus"><a href="/">Home</a></li>
    </ul>
  </header>
  <div class="load">
    <img class="rocket" src="https://i.pinimg.com/originals/bd/7c/95/bd7c9566f984f16a696a750711fcb8c0.png" />
    <h2>Loading...</h2>
  </div>

  <!-- <main class="container"> -->
  <!-- box containers -->
  <h1>
    <b>Ginny Games</b> is a <b>digital designer</b> based in San Francisco working on both traditional and spatial
    computing user
    interfaces
  </h1>

  <main class="container">
    <div class="top">
      <div class="box focus box1">
        <div class="wordformat">
          <p>Designing Virtual Reality for <strong class="hightlight">Productivity</strong> </p>
          <a href="/works"><button class='button' type="button">View Case Study</button></a>
        </div>
        <img class="image1" src="./resources/main-page-img1.png">
      </div>
      <div class="box reverse focus">
        <div class="wordformatPhone">
          <p id="papa">Storytelling Tool for Future Creators</p>
          <a href="/works"><button class='button' type="button">View Case Study</button></a>
        </div>
        <img class="reversePhone" src="./resources/main-page-mobile.png">
      </div>
    </div>
    <!-- Mac Container -->
    <div class="boxcomp focus">
      <div class="wordformatComp">
        <p id="compP">Next Generation Currency Concept</p>
        <a href="/works"><button class='button compButton' type="button">View Case Study</button></a>
      </div>
      <img class='mac' src="./resources/main-page-laptop.png">

    </div>
  </main>
  <!-- </main> -->
  <!-- Git Gud -->
  <footer>
    <div class='foot'>
      <h2 id="footerFamily">Connect with me!</h2>
      <div class="iconsPad">
        <img class="sizeIMG" src="./resources/intagram-icon.svg">
        <img class="sizeIMG" src="./resources/linkedin-icon.svg">
        <img class="sizeIMG" src="./resources/dribbble-icon.svg">
      </div>
    </div>
  </footer>
</body>

</html>