<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ginny - Case Study 1</title>
    <link rel="stylesheet" href="/styles/works.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500;600&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="header">
        <a href="" class="logo middle focus">Ginny Games</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li class="middle focus"><a href="/works">Works</a></li>
            <li class="middle focus"><a href="/About">About</a></li>
            <li class="middle focus"><a href="/">Home</a></li>
        </ul>
    </header>

    <!-- <main class="container"> -->
    <div class='maincontainer'>
        <div class="container1">
            <!-- <img> -->
        </div>
        <div class="container2">
            <div>
                <h1>Overview</h1>
                <p class='bigboy'>Providing feedback, like mark ups and commenting, is a key use case for collaboration,
                    but this
                    functionality was limited in Box. How could we increase engagement and promote the feedback loop in
                    Box?
                    I lead the redesign to extend our feature set to allow users to create annotations.</p>
            </div>
            <div id='smallboy'>
                <h2>Timeline</h2>
                <p id='makeSmall'>Sep - Dec 2020</p>
                <h2>My Role</h2>
                <p>Lead and solo designer— discovery, user research, design, animation, testin</p>
                <h2>Team</h2>
                <p>Sep - Dec 2020</p>
            </div>
        </div>
        <div class="container3 height ani Nmiddle">
            <img class="holder focus"
                src="./resources/case-study-challenge-img.png">
            <div class="text-contain">
                <h2 class="headerSize">
                    The Challenge
                </h2>
                <p class='pSize'>The lifecycle of a document begins with creation, then sharing with others to get
                    feedback, then editing— iterating until the final draft and approval. Users could not complete this
                    feedback loop in Box, and thus were leaving Box to complete their workflows. We were losing users
                </p>
            </div>

        </div>
        <div class="container4 height ani Nmiddle">
            <img class="holder focus"
                src="./resources/case-study-annotation-img.png">
            <div>
                <h2 class="headerSize">Creating an Annotation</h2>
                <p class='pSize'>The central feature of this project was allowing the user to create annotations. We
                    landed on three annotation types that fit within our scope: point, highlight, and drawing. These
                    supported different use cases, for example, creatives who wanted to give feedback on images, lawyers
                    who wanted to annotate contracts, and teachers who wanted to mark up homework assignments </p>
            </div>

        </div>
        <div class="container5 height ani Nmiddle">
            <img class="holder focus"
                src="./resources/case-study-threaded-conversations-img.png">
            <div>
                <h2 class="headerSize">Threaded Conversations</h2>
                <p class='pSize'>A simple change that resulted in in streamlined work processes. Previously, users could
                    not reply to
                    any
                    comment— they had to sort through the sidebar to track down the conversation. Threading comments
                    together grouped conversations together for easy reading. I also updated the UX of the sidebar to
                    show
                    newest activity at the bottom, rather than the top</p>
            </div>
        </div>
        <div class="container6 height ani Nmiddle">
            <img class="holder focus"
                src="./resources/case-study-previous-version-img.png">
            <div>
                <h2 class="headerSize">Viewing a Previous Version</h2>
                <p class='pSize'>One enormous challenge for me was overcoming technical constraints. One in particular
                    resulted in all
                    annotations on the file itself being lost with any new version upload. To combat this, I ensured
                    there was a permanent record of every annotation in the sidebar, as well as a way to see all
                    annotations on a previous version. Clicking on any annotation would jump the user to the exact
                    version and location so they could compare changes and track the feedback</p>
            </div>
        </div>



    </div>


    </main>


    <footer>
        <div class='foot'>
            <h2>Connect with me!</h2>
            <div class="iconsPad">
                <a href="#" class="fa fa-instagram focus"></a>
                <a href="#" class="fa fa-linkedin focus"></a>
                <a href="#" class="fa fa-twitter focus"></a>
            </div>
        </div>
    </footer>
</body>

</html>