html {
    background-color: #F5F5F5;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-size: cover;
    background-color: #F5F5F5;
  }
  
  h1,h2,h3,h4 {
    font-size: 4rem;
    font-family: 'Lora';
    font-weight: 600;
  }
  
  .maincontainer{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .hero {
    width: 100vw;
  }
  
  /* .topcontainer{
    width: 100vw;
    background-color: lightcoral;
    justify-self: center;
    padding-top: 6vh;
    margin-bottom: -2%;
  } */
  
  .container2{
    width: 100vw;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #smallboy h2, #smallboy h3, #smallboy h4{
    font-size: 2.25rem;
    padding-right: 50px;
    color: #2F3D47;
  }
  
  #smallboy{
    margin-left: 20px;
  }
  
  .textBox {
    padding: 0 5%;
  }
  
  .bigboy{
    font-size: 1.5rem;
    text-align: left;
    margin-top: 10px;
  }
  
  #makeSmall{
    margin-bottom: 10px;
    height: 30px;
  }
  
  p{
    text-align: left ;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  h1{
    text-align: left;
    margin-top: 20px;
  }
  
  h2{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Nmiddle div {
    z-index: 1;
  }
  
  
  .container3{
    width: 100vw;
    background-color: #2F3D47;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F5F5F5;
  }
  
  .container4{
    width: 100vw;
    background-color: rgba(245, 243, 243, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container5{
    width: 100vw;
    background-color: rgba(222, 227, 232, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .container6{
    width: 100vw;
    background-color: rgba(245, 243, 243, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 85px;
  }
  
  
  /*Place Holder for No picture*/
  .holder{
    background-color: black;
    width: 30vw;
    margin-top: 15px;
  }
  
  footer{
    width: 100vw;
    background-color: #2F3D47;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color:whitesmoke;
    font-size: 1vh;
  }
  
  footer h2{
    font-family: "roboto";
    text-align: center;
    color:#ACBBC6;
    font-size: 2vh;
  }
  .footerFamily {
    font-size: .5vh;
  }
  .iconsPad{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .sizeIMG{
    height: 45px;
    width: 45px;
    padding-bottom: 15px;
  }
  
  a {
    color: #000;
  }
  
  /*Social media Icons*/
  
  .iconsPad{
    display: flex;
    justify-content: space-evenly;
  
  }
  
  .fa{
    padding: 10px;
    font-size: 50px;
   
    text-align: center;
    text-decoration: none;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 10px;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 10px;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
    border-radius: 10px;
  }
  
  /* header */
  
  .header {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: #2F3D47;
    color: #F5F5F5;
  }
  
  
  .header ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #2F3D47;
    font-size: 20px;
    color: #F5F5F5;
    font-family: 'Lora' !important;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #2F3D47;
    text-decoration: none;
    color: #F5F5F5;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #2F3D47;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 15px 20px;
    text-decoration: none;
    position: absolute;
  }
  
  .logo {
    font-size: 15px;
    display: flex;
    align-self: center;
    color: #F5F5F5;
  }
  
  .header a{
    font-family: 'Lora';
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 30px 20px 0 20px;
    position: relative;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  
  
  
  
  /* 48em = 768px */
  
  @media only screen and (min-width: 48em) {
    .header li {
      float: right;
    }
  
    .header li a {
      display: block;
      padding: 20px 20px;
      border-right: 1px solid #2F3D47;
      text-decoration: none;
      transition: all .2s ease-in-out;
    }
    
    .header li a:hover,
    .header .menu-btn:hover {
      background-color: #2F3D47;
    }
  
    .focus {
      transition: all .3s ease-in-out;
    }
  
    .focus:hover {
      transform: scale(1.1);
    }
  
    .bigboy{
      font-size: 2.25rem;
    }
  
    .middle {
      position: relative;
      transition: all 0.3s ease-in-out;
    }
  
    #smallboy{
      font-size: 1.5rem;
    }
  
    .middle:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: 12px;
      left: 0;
      background-color: #F5F5F5;
      transform-origin: bottom center;
      transition: transform 0.25s ease-out;
    }
  
    .middle:hover:after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }
  
    a.header .ul {
      font-size: 25px;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: left;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .header .logo {
      display: flex;
      justify-content: center;
      font-size: 50px;
      padding-top: 25px;
    }
  
    .headerSize{
      font-size: 54px;
    }
  
    .pSize{
      width: 600px;
      font-size: 24px;
    }
  
    .text-contain {
      z-index: 1;
    }
  
    .height{
      height: 500px;
    }
  
    .container2{
      height: 710px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 5%;
    }
  
    .container2 h1{
      margin-bottom: 50px;
      }
  
    .container3{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      
      }
  
    .container4{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      
    }
  
    .container5{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      
    }
  
    .container6{
      
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      
    }
  
    
  }
  
  
  .highlight {
    animation: unhighlight 1s;
  }
  
  .highlight:hover {
    animation: highlight 1s forwards;
  }
  
  @keyframes highlight {
    from {
      background-color: rgba(240, 32, 105, 0);
    }
    to {
      background-color: rgba(240, 32, 105, 0.727);
    }
  }
  
  @keyframes unhighlight {
    from {
      background-color: rgba(240, 32, 105, 0.645);
    }
    to {
      background-color: rgba(240, 32, 105, 0);
    }
  }
  
  .middle {
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .middle:after {
    content: '';
    position: absolute;
    width: 95%;
    transform: scaleX(0);
    height: 3px;
    bottom: 12px;
    left: 4px;
    background-color: #F5F5F5;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  
  .middle:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }
  
  .focus {
    transition: all .3s ease-in-out;
    opacity: 0.85;
  }
  
  .focus:hover {
    transform: scale(1.05);
    opacity: 1;
  }
  
  .fade {
    opacity: 0;
    animation: fade-out 0.5s ease-in-out forwards;
  }
  
  .fade:hover {
    animation: fade-in 0.5s ease-in-out forwards;
  }
  
  @keyframes fade-in{
    from {
      opacity: 0;
    }
    to {
      opacity: 1.0;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1.0;
    }
    to{
      opacity: 0;
    }
  }
  
  .load {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: darkgrey;
    animation: load-fade 4s ease-in-out forwards;
    position: fixed;
    z-index: 8;
    top: 0;
  }
  
  
  ul {
    list-style: none;
  }
  
  @keyframes take-off {
    0% {
      transform: rotate(0deg);
      opacity: 1.0;
      bottom: 0px;
    }
    20%{
      transform: rotate(370deg);
    }
    40% {
      transform: rotate(360deg);
    }
    60% {
      transform: scaleY(0.7);
      bottom: 0px;
      opacity: 1;
    }
    70%{
      transform: scaleY(1.1);
      opacity: 0.6;
    }
    90%{
      opacity: 0.2;
    }
    100%{
      bottom: 150px;
      opacity: 0;  
    }
  }
  
  @keyframes load-fade {
    0% {
      opacity: 1;
    }
    60%{
      opacity: 1;
    }
    90%{
      opacity: 0.99;
      z-index: 8;
    }
    100% {
      opacity: 0;
      display: none;
      z-index: -3;
    }
  }
  
  button{
    border-radius: 25px;
    border: none;
    background-color: #F5B02D;
    font-weight: 550;
    transition: 0.3s ease-in-out;
  }
  
  button:hover{
    transform: scale(1.1);
  }
  
  .ani {
    position: relative;
    overflow: hidden;
    transition: 1s all ease;
  }
  
  .ani::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F0C674;
    z-index: 0;
    width: 100%;
    height: 0%;
    transition: all 0.6s ease;
    overflow: hidden;
  }
  
  .ani:hover {
    color: rgba(70, 86, 101, 1);
  }
  .ani:hover::before {
    height: 100%;
    overflow: hidden;
  }